.centered{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(246, 254, 7);
    background-color: rgba(0, 0, 0, 0.3);

}

.sub-centered{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:larger;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(246, 254, 7);
    background-color: rgba(0, 0, 0, 0.3);
}

.sub-centered2{
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(246, 254, 7);
    background-color: rgba(0, 0, 0, 0.3);
}